:root {
  --bg-color: #000;
  --fg-color: #444;
  --fg-color-bright: #555;
  --correct-color: #50f49a;
  --wrong-color: #f44141;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 10px;

  color: white;
  font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;

  background-color: var(--bg-color);
  overflow: hidden;
}

#header {
  width: calc(100% - 10px);
  height: 50px;
  padding-left: 10px;

  background-color: var(--fg-color);

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#next-btn {
  height: 75%;
}

.content {
  width: 100%;
  max-width: 820px;
  height: 100%;
  margin: auto;

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

#schedule-info {
  margin-top: 50px;
}

#video-player {
  width: calc(100% - 4px);
  aspect-ratio: 16/9;

  background-color: var(--bg-color);
  border: 2px solid white;
}

#video-player-cover {
  position: absolute;
  width: 100%;
  aspect-ratio: 16/9;

  background-color: var(--fg-color);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 10;
}

#video-player-timer {
  margin: 0;
  font-size: 400%;
}

.input-container {
  position: relative;
}

#answer-box {
  height: 100%;
  width: calc(100% - 8px);
  font-size: 20px;

  flex-grow: 1;

  color: white;
  background-color: var(--fg-color);
  border-color: white;
  outline: none;
}

#answer-box.result-correct {
  border-color: var(--correct-color);
}

#answer-box.result-wrong {
  border-color: var(--wrong-color);
}

.dropdown-input {
  width: 100%;
  position: absolute;
}

.dropdown-selection {
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  list-style-type: none;

  background-color: var(--fg-color);
}

.dropdown-choice {
  width: calc(100% - 10px);
  padding: 5px;

  text-align: center;
}

.dropdown-choice:hover {
  background-color: var(--fg-color-bright);
  cursor: pointer;
}

.dropdown-choice.selected {
  background-color: var(--fg-color-bright);
}

.hide {
  display: none !important;
}